<a href="https://colab.research.google.com/github/jmuryawan/module1-codexes-claims-analysis/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://data.cms.gov/sites/default/files/2023-04/67157de9-d962-4af0-bf0e-3578b3afec58/inpatient.csv', sep= '|')

<ipython-input-5-1732a64f4927>:1: DtypeWarning: Columns (168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://data.cms.gov/sites/default/files/2023-04/67157de9-d962-4af0-bf0e-3578b3afec58/inpatient.csv', sep= '|')

In [ ]:
df

,BENE_ID,CLM_ID,NCH_NEAR_LINE_REC_IDENT_CD,NCH_CLM_TYPE_CD,CLM_FROM_DT,CLM_THRU_DT,NCH_WKLY_PROC_DT,FI_CLM_PROC_DT,CLAIM_QUERY_CODE,PRVDR_NUM,...,PRCDR_DT24,ICD_PRCDR_CD25,PRCDR_DT25,IME_OP_CLM_VAL_AMT,DSH_OP_CLM_VAL_AMT,CLM_UNCOMPD_CARE_PMT_AMT,CLM_LINE_NUM,REV_CNTR,HCPCS_CD,REV_CNTR_DDCTBL_COINSRNC_CD
0,-10000010254618,-10000930037831,V,60,25-Mar-2015,25-Mar-2015,27-Mar-2015,NaN,3,011500,...,NaN,NaN,NaN,0,0,NaN,1,450,99221,NaN
1,-10000010254653,-10000930038030,V,60,24-Sep-2015,24-Sep-2015,25-Sep-2015,NaN,3,017129,...,NaN,NaN,NaN,0,0,NaN,1,450,99221,NaN
2,-10000010254653,-10000930038031,V,60,09-May-2017,10-May-2017,12-May-2017,NaN,3,010052,...,NaN,NaN,NaN,0,0,NaN,1,1,99024,3.0
3,-10000010254656,-10000930038162,V,60,14-Jan-2017,14-Jan-2017,20-Jan-2017,NaN,3,015455,...,NaN,NaN,NaN,0,0,NaN,1,450,73610,3.0
4,-10000010254656,-10000930038162,V,60,14-Jan-2017,14-Jan-2017,20-Jan-2017,NaN,3,015455,...,NaN,NaN,NaN,0,0,NaN,2,450,29515,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58061,-10000010288008,-10000931485965,V,60,08-Jan-2020,14-Jan-2020,17-Jan-2020,NaN,3,050243,...,NaN,NaN,NaN,0,0,NaN,1,1,99221,NaN
58062,-10000010288008,-10000931485967,V,60,23-Oct-2020,23-Oct-2020,30-Oct-2020,NaN,3,056428,...,NaN,NaN,NaN,0,0,NaN,1,450,99221,NaN
58063,-10000010288008,-10000931485969,V,60,22-Aug-2021,23-Aug-2021,27-Aug-2021,NaN,3,056428,...,NaN,NaN,NaN,0,0,NaN,1,450,99221,NaN
58064,-10000010288008,-10000931485971,V,60,13-Sep-2021,16-Sep-2021,17-Sep-2021,NaN,3,050243,...,NaN,NaN,NaN,0,0,NaN,1,1,99221,NaN
58065,-10000010288010,-10000931486024,V,60,11-Jun-2017,11-Jun-2017,16-Jun-2017,NaN,3,555851,...,NaN,NaN,NaN,0,0,NaN,1,450,99221,NaN

In [ ]:
for a in df.columns:
  print(a)

BENE_ID
CLM_ID
NCH_NEAR_LINE_REC_IDENT_CD
NCH_CLM_TYPE_CD
CLM_FROM_DT
CLM_THRU_DT
NCH_WKLY_PROC_DT
FI_CLM_PROC_DT
CLAIM_QUERY_CODE
PRVDR_NUM
CLM_FAC_TYPE_CD
CLM_SRVC_CLSFCTN_TYPE_CD
CLM_FREQ_CD
FI_NUM
CLM_MDCR_NON_PMT_RSN_CD
CLM_PMT_AMT
NCH_PRMRY_PYR_CLM_PD_AMT
NCH_PRMRY_PYR_CD
FI_CLM_ACTN_CD
PRVDR_STATE_CD
ORG_NPI_NUM
AT_PHYSN_UPIN
AT_PHYSN_NPI
OP_PHYSN_UPIN
OP_PHYSN_NPI
OT_PHYSN_UPIN
OT_PHYSN_NPI
CLM_MCO_PD_SW
PTNT_DSCHRG_STUS_CD
CLM_PPS_IND_CD
CLM_TOT_CHRG_AMT
CLM_ADMSN_DT
CLM_IP_ADMSN_TYPE_CD
CLM_SRC_IP_ADMSN_CD
NCH_PTNT_STATUS_IND_CD
CLM_PASS_THRU_PER_DIEM_AMT
NCH_BENE_IP_DDCTBL_AMT
NCH_BENE_PTA_COINSRNC_LBLTY_AM
NCH_BENE_BLOOD_DDCTBL_LBLTY_AM
NCH_PROFNL_CMPNT_CHRG_AMT
NCH_IP_NCVRD_CHRG_AMT
NCH_IP_TOT_DDCTN_AMT
CLM_TOT_PPS_CPTL_AMT
CLM_PPS_CPTL_FSP_AMT
CLM_PPS_CPTL_OUTLIER_AMT
CLM_PPS_CPTL_DSPRPRTNT_SHR_AMT
CLM_PPS_CPTL_IME_AMT
CLM_PPS_CPTL_EXCPTN_AMT
CLM_PPS_OLD_CPTL_HLD_HRMLS_AMT
CLM_PPS_CPTL_DRG_WT_NUM
CLM_UTLZTN_DAY_CNT
BENE_TOT_COINSRNC_DAYS_CNT
BENE_LRD_USED_CNT
CLM_NON_UTLZTN_DAYS_CNT
NCH_BLOOD_PNTS_FRNSHD_QTY
NCH_VRFD_NCVRD_STAY_FROM_DT
NCH_VRFD_NCVRD_STAY_THRU_DT
NCH_ACTV_OR_CVRD_LVL_CARE_THRU
NCH_BENE_MDCR_BNFTS_EXHTD_DT_I
NCH_BENE_DSCHRG_DT
CLM_DRG_CD
CLM_DRG_OUTLIER_STAY_CD
NCH_DRG_OUTLIER_APRVD_PMT_AMT
ADMTG_DGNS_CD
PRNCPAL_DGNS_CD
ICD_DGNS_CD1
CLM_POA_IND_SW1
ICD_DGNS_CD2
CLM_POA_IND_SW2
ICD_DGNS_CD3
CLM_POA_IND_SW3
ICD_DGNS_CD4
CLM_POA_IND_SW4
ICD_DGNS_CD5
CLM_POA_IND_SW5
ICD_DGNS_CD6
CLM_POA_IND_SW6
ICD_DGNS_CD7
CLM_POA_IND_SW7
ICD_DGNS_CD8
CLM_POA_IND_SW8
ICD_DGNS_CD9
CLM_POA_IND_SW9
ICD_DGNS_CD10
CLM_POA_IND_SW10
ICD_DGNS_CD11
CLM_POA_IND_SW11
ICD_DGNS_CD12
CLM_POA_IND_SW12
ICD_DGNS_CD13
CLM_POA_IND_SW13
ICD_DGNS_CD14
CLM_POA_IND_SW14
ICD_DGNS_CD15
CLM_POA_IND_SW15
ICD_DGNS_CD16
CLM_POA_IND_SW16
ICD_DGNS_CD17
CLM_POA_IND_SW17
ICD_DGNS_CD18
CLM_POA_IND_SW18
ICD_DGNS_CD19
CLM_POA_IND_SW19
ICD_DGNS_CD20
CLM_POA_IND_SW20
ICD_DGNS_CD21
CLM_POA_IND_SW21
ICD_DGNS_CD22
CLM_POA_IND_SW22
ICD_DGNS_CD23
CLM_POA_IND_SW23
ICD_DGNS_CD24
CLM_POA_IND_SW24
ICD_DGNS_CD25
CLM_POA_IND_SW25
FST_DGNS_E_CD
ICD_DGNS_E_CD1
CLM_E_POA_IND_SW1
ICD_DGNS_E_CD2
CLM_E_POA_IND_SW2
ICD_DGNS_E_CD3
CLM_E_POA_IND_SW3
ICD_DGNS_E_CD4
CLM_E_POA_IND_SW4
ICD_DGNS_E_CD5
CLM_E_POA_IND_SW5
ICD_DGNS_E_CD6
CLM_E_POA_IND_SW6
ICD_DGNS_E_CD7
CLM_E_POA_IND_SW7
ICD_DGNS_E_CD8
CLM_E_POA_IND_SW8
ICD_DGNS_E_CD9
CLM_E_POA_IND_SW9
ICD_DGNS_E_CD10
CLM_E_POA_IND_SW10
ICD_DGNS_E_CD11
CLM_E_POA_IND_SW11
ICD_DGNS_E_CD12
CLM_E_POA_IND_SW12
ICD_PRCDR_CD1
PRCDR_DT1
ICD_PRCDR_CD2
PRCDR_DT2
ICD_PRCDR_CD3
PRCDR_DT3
ICD_PRCDR_CD4
PRCDR_DT4
ICD_PRCDR_CD5
PRCDR_DT5
ICD_PRCDR_CD6
PRCDR_DT6
ICD_PRCDR_CD7
PRCDR_DT7
ICD_PRCDR_CD8
PRCDR_DT8
ICD_PRCDR_CD9
PRCDR_DT9
ICD_PRCDR_CD10
PRCDR_DT10
ICD_PRCDR_CD11
PRCDR_DT11
ICD_PRCDR_CD12
PRCDR_DT12
ICD_PRCDR_CD13
PRCDR_DT13
ICD_PRCDR_CD14
PRCDR_DT14
ICD_PRCDR_CD15
PRCDR_DT15
ICD_PRCDR_CD16
PRCDR_DT16
ICD_PRCDR_CD17
PRCDR_DT17
ICD_PRCDR_CD18
PRCDR_DT18
ICD_PRCDR_CD19
PRCDR_DT19
ICD_PRCDR_CD20
PRCDR_DT20
ICD_PRCDR_CD21
PRCDR_DT21
ICD_PRCDR_CD22
PRCDR_DT22
ICD_PRCDR_CD23
PRCDR_DT23
ICD_PRCDR_CD24
PRCDR_DT24
ICD_PRCDR_CD25
PRCDR_DT25
IME_OP_CLM_VAL_AMT
DSH_OP_CLM_VAL_AMT
CLM_UNCOMPD_CARE_PMT_AMT
CLM_LINE_NUM
REV_CNTR
HCPCS_CD
REV_CNTR_DDCTBL_COINSRNC_CD

In [ ]:
## 1. relates to Claim Diagnosis Related Group Code (or MS-DRG Code)
df ['CLM_DRG_CD'].value_counts()

CLM_DRG_CD
951.0    28831
950.0     1456
949.0     1332
922.0     1110
923.0     1015
         ...
814.0        1
918.0        1
870.0        1
812.0        1
656.0        1
Name: count, Length: 167, dtype: int64

In [ ]:
## 2. relates to Healthcare Common Procedure Coding System (HCPCS) Code
df ['HCPCS_CD'].value_counts()

HCPCS_CD
99221    8298
G0444    7990
96156    5080
99408    4196
99495    3867
         ...
S9361       1
S9355       1
S9374       1
S9377       1
G9829       1
Name: count, Length: 106, dtype: int64

In [ ]:
## 3. relates to Claim Diagnosis Code
df ['ICD_DGNS_CD1'].value_counts()

ICD_DGNS_CD1
Z733      13031
Z608       8227
T7432X     3727
Z604       3537
Z940       2858
          ...
T8611         1
E1141         1
E11610        1
I071          1
M069          1
Name: count, Length: 231, dtype: int64

In [ ]:
## 4. relates to Claim Diagnosis E Code Present on Admission (POA) Indicator Code
df ['CLM_E_POA_IND_SW4'].value_counts()

CLM_E_POA_IND_SW4
     58066
Name: count, dtype: int64

In [ ]:
## 5. relates to Claim Admitting Diagnosis Code
df ['ADMTG_DGNS_CD'].value_counts()

ADMTG_DGNS_CD
Z7682      2881
T50901A    2541
Z951       1694
Z95818     1058
C3490       940
           ...
E849          1
A4152         1
O00109        1
I200          1
C9200         1
Name: count, Length: 65, dtype: int64

In [ ]:
## 6. relates to Claim Diagnosis Code Present on Admission (POA) Indicator Code
df ['CLM_POA_IND_SW19'].value_counts()

CLM_POA_IND_SW19
Y    24714
N     3036
Name: count, dtype: int64

In [ ]:
## 7. relates to Claim Diagnosis E Code
df ['ICD_DGNS_E_CD7'].value_counts()

ICD_DGNS_E_CD7
     58066
Name: count, dtype: int64

In [ ]:
## 8. relates to Claim Procedure Code
df ['ICD_PRCDR_CD15'].value_counts()

ICD_PRCDR_CD15
Z9981      800
F08H5ZZ    496
F13        176
Z8616       24
0BP13DZ     14
Name: count, dtype: int64